#top {
    position: relative;
    background-color: #3b3b3b;
    color: white;
    padding: 1.23%;
    margin: -10px 0px 0px 45px;
    height: 27px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #4c4c4c;
    padding: 0px;
    width: 0px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #f2f2f2;
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}

.left_content {
    background-color: #f2f2f2;
    transition: margin-left .5s;
    padding: 50px;
    overflow:auto;
    z-index: 1;
}

.right_content {
    background-color: #f2f2f2;
    margin: 0px 170px 0px 170px;
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
} 

.msgBtn, .settingsBtn, .logoutBtn {
    position: relative;
    color: white;
    display: inline-block;
    left: 92%;
}

.msgBtn:before {
    font-family: FontAwesome;
    font-size: 2.0em;
    text-align: center;
    padding-right: 10px;
    content: "\f0e0";
}

.settingsBtn:before {
    font-family: FontAwesome;
    font-size: 2.0em;
    text-align: center;
    padding-right:10px;
    content: "\f013";
}

.logoutBtn:before {
    font-family: FontAwesome;
    font-size: 2.0em;
    text-align: center;
    padding-right:10px;
    content: "\f011";
}


/*-- sidebar --*/
.settings {
    height:10%;
    background:url(https://i.imgur.com/aLcvjMx.png);
    background-color:#3b3b3b;
    background-repeat:no-repeat !important;
    width:250px;
    margin-left:0px;
    text-align: center;
}

.fa-lg {
    font-size: 1em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    top:12px; 
    font-size:20px;
}

.main-menu:hover, nav.main-menu.expanded {
    width:250px;
    overflow:hidden;
    opacity:1;
}

.main-menu {
    background:#F7F7F7;
    position:absolute;
    top:0;
    bottom:0;
    min-height: 100%;
    left:0;
    width:55px;
    overflow:hidden;
    -webkit-transition:width .2s linear;
    transition:width .2s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity:1;
    z-index: 2;
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    width:255px;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#8a8a8a;
    font-size: 13px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .14s linear;
    transition:all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top:1px solid #f2f2f2;
    text-shadow: 1px 1px 1px  #fff;  
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:55px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text  {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

/* Logo Hover Property */
.settings:hover, settings:focus {   
    background:url(https://i.imgur.com/aLcvjMx.png);
    background-color:#2b2b2b;
    -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0; 
}

.settings:active, settings:focus {   
    background:url(https://i.imgur.com/aLcvjMx.png);
    background-color:#2b2b2b;
    -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0; 
}

a:hover,a:focus {
    text-decoration:none;
    border-left:0px solid #F7F7F7;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;

}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    text-transform: uppercase;
}

/* Darker element side menu Start*/
.darkerli {
    background-color:#ededed;
    text-transform:capitalize;  
}

.darkerlishadow {
    background-color:#ededed;
    text-transform:capitalize;  
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow:         inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.darkerlishadowdown {
    background-color:#ededed;
    text-transform:capitalize;  
    -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow:         inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#2ad3d0;
    text-shadow: 0px 0px 0px;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
